html {
    color: white;
    background-color: rgb(5 8 22 / 1);
    min-height: 10000px;
}

#hero{
    background-image: url(./public/herobg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 100dvh;
}


