html {
    color: white;
    background-image: url(./public/herobg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 100%
}

