#itamar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

#itamar h2 {
    font-weight: 700;
    font-size: 18px;
}

#itamar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#contacts {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(170, 166, 195);
}

p {
    margin: 0;
    word-break: break-all;
}

@media (max-width: 768px) {
    span {
        display: none;
    }
}

a:hover {
    color: white;
}




